# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Firebase
firebase-debug.log
firebase.json
.firebaserc

# Misc
.DS_Store
*.pem
.env
.env.*
secrets.js
firebaseConfig.js
